* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    width: 100%;
} 

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: #432E8C;
  color: white;
}

.main-background {
  background-image: url("../img/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  color: white;
}

.alt-background {
  background-image: url("../../public/img/profile_background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  color: white;
}

@media (max-width: 480px) {
    .main-background {
        background-image: url("../img/mobile_background.png");
        background-position: top center;
        background-size: cover;
    }

    .login-page {
        background-image: url("../img/mobile_profile_background.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        min-height: 100vh;
        padding: 100px;
        color: white;
    }
}