 .App {
  text-align: center;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: #432E8C;
  color: #333;
}

.App-header {
  font-size: 4rem;
  font-weight: bold;
  padding: 20px;
  background-color: #050326;
  color: white;
  width: 100%;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  -webkit-text-stroke: 2px black;
}

.board-games-table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid black;
  table-layout: fixed;
  margin-top: 10px;
}

.board-games-table th,
.board-games-table td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.board-games-table th {
  background-color: #432E8C;
  color: white;
  font-weight: bold;
}

.board-games-table tr {
  background-color: #9a93c4;
}

.board-games-table tr:hover {
  background-color: #76709c;
}

.no-games {
  text-align: center;
  font-style: italic;
  color: white;
}

.search-input {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  border: 1px solid #6258A6;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.search-input:focus {
  outline: none;
  border-color: #0056b3;
  box-shadow: 0px 0px 5px rgba(0, 91, 187, 0.5);
}

.board-games-container {
  background-color: #6258A6;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 600px;
  min-height: 300px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.clickable-row {
  cursor: pointer;
}

.game-details {
  background-color: #6258A6;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 800px;
  margin: 20px auto;
  color: white;
}

.back-button {
  display: inline-block;
  margin-bottom: 20px;
  padding: 8px 16px;
  background-color: #432E8C;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.back-button:hover {
  background-color: #351f7a;
}

.game-info {
  text-align: left;
  background-color: #9a93c4;
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
}

.search-button {
  background-color: #6258A6;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #432E8C;
}

